:root {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='1440' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M-26.39 1435.08 a358.99 358.99 0 1 0 717.98 0 a358.99 358.99 0 1 0 -717.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1324.417706217419 420.7993115942372L1229.4748696281254 865.386399768408 1609.5124336717672 749.1972563334562z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M439.7674540166345 625.9138837522569L577.0333720628355 789.5010347245593 753.7811394981884 501.80858216910656z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M501.3042812182375 343.2328705733832L317.79879846101227 561.5033997744209 562.4937002474197 609.0672704280864z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1226.232372998437-1.1322528603291317L899.2664430137781 194.90483530129865 1187.8746599043584 361.532867013413z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M23.2 1345.33 a313 313 0 1 0 626 0 a313 313 0 1 0 -626 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  color: #fff;
}

.container-div {
  margin: 50px 350px;
}

.textbox-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.textbox-container textarea{
  text-align: left;
  border-radius: 5px;
  color: #0e2a47;
  padding: 15px 30px;
  font-family: var(--font-family);
  font-size: 15px;
}

.textbox-container input{
  text-align: left;
  border-radius: 5px;
  color: #0e2a47;
  padding: 15px 30px;
  font-family: var(--font-family);
  font-size: 15px;
}

.textbox-container button {
  background-color: #fff;
  cursor: pointer;
  margin: 10px 160px;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}

.textbox-container button:hover {
  background-color: #0e2a47;
  color: #fff;
}

.textbox-container button:active {
  transition: background-color #999;
}

.scrambledText{
    background-color:#fff;
    color: #0e2a47;
    text-align: left;
    border-radius: 5px;
    padding: 15px 30px;
}